<div class="profile-indi">
<%= @user.username %>'s Profile
<% if @user.avatar.url %>
<%= image_tag @user.avatar.url %>
<% end %>
</div>

  <div class="large-hover">
<% @user.posts.each do |post| %>
          <p class="large-hover"><%=link_to image_tag(post.avatar.url), post %></p>
         <p class="large-hover">- <%=link_to post.post, post %></p>
         <% if @user.id == current_user.id %>
         <div class="large-hover edButtons">
           <td class="editdelete"><%= link_to 'Edit', edit_post_path(post) %></td>
           <td class="editdelete"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </div>
</div>
       </tr>
     <% end %>
<% end %>
