<div class="edButtons section">

<%= form_for @post do |f| %>
    <div>
        <%= f.label :got_kickz? %>
        <%= f.text_area :post %>
    </div>
    <div class="">
      <%= f.label :lets_see_em  %>
      <%= f.file_field :avatar %>
    </div>
    <div>
        <%= f.submit  %>
    </div>
    <%= link_to "Cancel", root_path %>
<% end %>
</div>
