<p id="notice"><%= notice %></p>

<p>
  <strong>Post By:
    <%= @post.user.username %></strong>
</p>
<div class="edButtons">
  <div class="postie">
   <%= @post.post %>
 </div>
  <div class="large-hover"><%= image_tag @post.avatar.url  %>
</div>
<% if current_user && @post.user_id == current_user.id %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this post"} %>
<% end %>
</div>
<div class="">
<%= link_to 'Home', posts_path %>
</div>
<section class="edButtons comments">

<div class="container">
  <h2 class=""><%= @post.comments.count %> Comments</h2>
  <%= render @post.comments %>
  <div class="comment-form">
    <hr />

  <h3 class="edButtons subtitle">Say something nice...or talk some 💩</h3>
  <%= render 'comments/form' %>

  </div>
</div>
</section>
